LICENSE_ID=<<LICENSE HERE>>
LICENSE_EMAIL=<<YOUR EMAIL HERE>
LICENSE_ORGANIZATION=<<YOUR ORGANIZATION HERE>>
LICENSE_EDITION=<<LICENSE TYPE HERE>>
LICENSE_EXPIRATION=<<LICENSE EXPIRATION HERE>>
LICENSE_SIGNATURE=<<LICENSE SIGNATURE HERE>>
